*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color{
    position: absolute;
       background-color: rgb(214, 194, 214);
    width: 600px;
    height: 600px;
    top: 180px;
    left: 700px;
    right: 50px;
}


body{
    background-color: rgb(189, 165, 189);
}
.box1{
    position: relative;
width: 500px;
height: 400px;
margin-left: 100px;
margin-top: 600px;



}
 .box2{
    position: relative;
    width: 1000px;
height: 600px;
top: -700px ;
margin-left: 200px;
 }

 h1{
    position: absolute;
    left: 350px;
    right: 300px;
    bottom: -600px;
     color: rgb(250, 244, 244);
 font-size: 400%;
 }

 h3{
    position:absolute;
   text-align: center;
   padding-left: 200px ;
   padding-right: 200px;
         color: rgb(243, 237, 237);
      font-size: 150%;
      bottom:  -750px;
      margin: 25px;
 }
 a{
    color: white;
 }

 h5{
  position: absolute;
text-align: center;
color: rgb(243, 247, 243);
font-size: 100%;
bottom: 600px;
left: 530px;
top: 1450px;

}

 button{
    position: absolute;
       padding-top: 25px;
       padding-right: 65px;
       padding-left: 50px;
       padding-bottom: 25px;
       background-color: rgb(221, 187, 221) ; 
    color: rgb(245, 238, 238);
    size: 30px;
    /* margin-left: 500px;  */
    left: 500px;
    top: 1500px;
    border-color: white;
    border-style:double;
    }

    .background{
      width: 100%;
      height: 600px;
      background-color: rgb(255, 255, 255);
     position: absolute;
     top: 0;
     z-index: -1;
  }
